!!!5
%html
  %head
    %title <%= options['action-name'] %>
    %script{src: "/javascripts/<%= fs_name %>.js"}
    %style{href: "/stylesheets/<%= fs_name %>.css", type: "text/css", rel: "stylesheet"}
  %body
    %h1 Hello World!